<h1>Clients </h1>
<p>A selection of cliens I have worked with.</p>


<p>Previous clients</p>

 <p> <%= link_to "• Spotify", "http://www.spotify.com" %> </p>

 <p>Sign up <%= link_to "here", "#" %></p>

• East Sweden
• Greatness PR

• Klarna
• Academic Work
• Binero

• Google Campus, London UK
• The GivingLab.org, London UK
• Swedish Institute

• RunAlong.se
• Stockholm School of Economics
• 