<h1>Refinery Labs</h1>
<p>UI Stuff home</p>

<div>Refinery Labs </div>

<div>Guiding beliefs
We believe that a good product is based on rapid prototype testing, failing, learning and re-building until the product converts the desired metrics to sustain the product goal. We believe in killing our darlings if it doesn’t work - rapidly. </div>

<div>Process
We do research, rapid-prototyping and make sure everything we design and build. 
Money saving app</div>

<div>Money saving app 

Insight: User research showed that a need for an easy, non-cheatable habit change app was urgently existed. Everybody had something they would save for wether it was a Surf trip or a vintage rolex from the seventies. 

People had tried saving by rounding upp with their saints account (when shopping for £29 the last £1 would go to your saving account). Other people would save by brut force, first splurge with a credit card and then go o a very restorative spending diet, as they were bad savers for upfront but could manage having an imaginary “bad coach” remidning them about 
And action was preferred above listing what they would save for

Results: A better userflow for 

Lessons learned:</div>




#The Giving Lab API website.


#Scrive
#Challenge: Internationalization, language terminology within inter european languages. 

#Insigt: User reasearch done with clients showed 

#Results: A better userflow for 

#Lessons learned:


#Dating app: Date and donate


#Nya Affarer


#Binero: how to start blogging videos.


#RunAlong + API
