<!DOCTYPE html>
<html lang="en">
<body>

<div>
	<div class="row">
	  <div class="col-md-4">
	  	<h3>Scrive</h3>
	  	<p>Scrive is a electronic signature company for contracts and legal papers. They are the Swedish leader in Electronic signatures thanks to their easy and straight forward to user experience.</p><br>

	  	<h4>Internationalisation</h4>
	  	<p>Upon entering the UK market adjustments in language, tonality and functionality was done. </p><br>

		<h4>Aim</h4>
		<p>Enable a user centric and seamless experience for the UK market for maximizing growth for our customers and enabling then to close deals faster.</p><br>

		<h4>Process</h4>
		<p>By interviewing existing lead customers who had implemented the service in side they own sales system. Working side by side with out lead users and clients we could quickly determine and establish needs for the product fit and changes due to cultural changes.</p> <br>

		<h4>Results</h4>
		An adapted cultural change for how contracts were signed as well as semantic changes were made tailored to the UK market enabling us to enter the UK market and supporting our clients in their daily work of selling more.<br>
		Implementation had today been carried acoss all devices and implemnetations with other vendors carrying our service via our API.</p>
	  </div>

	  <div class="col-md-8">
	  	<img  src="<%= image_url("scrive_ipad.png")%>" class="img-responsive" alt="Responsive image">
	  </div>
</div>

<!--
Referral program
To support a viral spread in Sweden and UK we designed a referral program allowing customers to invite more users. Upon new users signing up and using the service the customers would be rewarded with more free signatures.

Aim 
To increase signups resulting in increased conversion rates having Scrive as a to of mind service for electronic signatures.

Lessons learned
Along with the companies changing strategy the service was not dependent on private or small business using the service but medium and large sized companies with larger volume. We tested this approach for 3 months and later changed strategy.

Result
The service was implemented in 2011. The project was removed after changing overall product strategy. 
-->
